:root {
    --dark-lava: #4b4237ff;
    --pewter-blue: #93b7beff;
    --mint-cream: #f1fffaff;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: minmax(150px, 200px) 4fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / span end;
    background-color: var(--pewter-blue);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
}

.title {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.title-icon {
    position: relative;
    top: -2rem;
    width: 90%;
}

.title-text {
    font-size: 2.3rem;
}

.side-item {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}

.side-text {
    font-size: 1.3rem;
}

.side-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.topbar {
    grid-column: 2 / span end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    padding-bottom: 0.2rem;
    gap: 0.5rem;
}

.top-top {
    display: flex;
    justify-content: space-between;
}

.top-top-left {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}

input[type='text'] {
    border-radius: 1rem;
    width: 20rem;
    background-color: var(--mint-cream);
}

.top-top-right {
    display: flex;
    gap: 1rem;
    margin-right: 3rem;
}

.top-top-name {
    font-size: 1rem;
}

.top-profile-pic {
    width: 2.5rem;
}

.top-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
}

.top-bot-left {
    display: flex;
    gap: 1rem;
}

.bot-profile-pic {
    width: 5rem;
}

.hello {
    margin-bottom: 8px;
}

.kenobi-name {
    font-size: 1.5rem;
    margin: 0;
}

button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    background-color: var(--mint-cream);
}

button:hover {
    background-color: var(--pewter-blue);
    transform: scale(1.1);
    transition: 100ms;
    cursor: pointer;
}

.dash {
    display: grid;
    grid-template-columns: minmax(300px, 3fr) minmax(210px, 1fr);
    grid-template-rows: 1fr 1fr;
    background-color: var(--mint-cream);
    box-shadow: 0.5rem 0.2rem 0.7rem rgb(204, 253, 236) inset;
}

.cards {
    grid-row: 1 / span end;
    padding: 1rem;
}

.cards-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 250px;
}

.card {
    border-color: var(--dark-lava);
    border: 0.1rem solid;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1px 3px 3px var(--dark-lava);
}

.card:hover {
    cursor: pointer;
    /*transform: scale(1.1);*/
    transition: 200ms;
    box-shadow: 1px 1px 1px var(--dark-lava) inset;
}

.announcements {
}

.announcements-container {
    border: 0.1rem solid var(--dark-lava);
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.trending {
}

.trends-container {
    border: 0.1rem solid var(--dark-lava);
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}