body {
    margin: 0;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / span end;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0.6rem;
}

.title {
    display: flex;
}

.title-icon {
    position: relative;
    top: 0.5rem;
    left: -0.8rem;
    width: 3.5rem;
    height: 3.5rem;
}

.title-text {
    position: relative;
    left: -0.8rem;
    font-size: 1.8rem;
}

.side-item {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}

.side-text {
    font-size: 1.3rem;
}

.topbar {
    grid-column: 2 / span end;
    background-color: rgb(19, 216, 45);
}

.dash {
    display: grid;
    grid-template-columns: minmax(300px, 3fr) minmax(210px, 1fr);
    grid-template-rows: 1fr 1fr;
}

.cards {
    grid-row: 1 / span end;
    background-color: orange;
}

.announcements {
    background-color: pink;
}

.trending {
    background-color: violet;
}